<div class="flex h-screen overflow-hidden">
  <!-- Sidebar -->
  <app-sidebar
    [isSidebarOpen]="isSidebarOpen"
    (toggleSidebar)="toggleSidebar()"
  ></app-sidebar>

  <!-- Contenido principal -->
  <div class="flex-1 flex flex-col overflow-hidden">
    <!-- Header -->
    <header class="bg-white shadow-sm p-4 flex justify-between items-center">
      <div class="flex items-center">
        <button (click)="toggleSidebar()" class="mr-4 md:hidden">
          <svg
            *ngIf="!isSidebarOpen"
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              strokeLinecap="round"
              strokeLinejoin="round"
              strokeWidth="2"
              d="M4 6h16M4 12h16m-7 6h7"
            ></path>
          </svg>
          <svg
            *ngIf="isSidebarOpen"
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              strokeLinecap="round"
              strokeLinejoin="round"
              strokeWidth="2"
              d="M6 18L18 6M6 6l12 12"
            ></path>
          </svg>
        </button>
        <h1 class="text-2xl font-semibold"></h1>
      </div>
      <div class="flex items-center">
        <div class="relative mr-4"></div>
        <div class="flex items-center">
          <!-- Círculo con las iniciales en lugar de la imagen -->
          <div
            class="w-8 h-8 rounded-full mr-2 flex items-center justify-center text-white font-medium"
            [style.background-color]="
              getUserColor(userData?.firstName, userData?.lastName)
            "
          >
            {{ getUserInitials() }}
          </div>
          <div class="hidden md:block">
            <p class="text-sm font-medium">
              {{ userData?.firstName }} {{ userData?.lastName }}
            </p>
            <p class="text-xs text-gray-500">{{ userData?.email }}</p>
          </div>
        </div>
      </div>
    </header>
    <!-- Área de contenido principal -->
    <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-100 p-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<!-- Overlay para cerrar el sidebar en móviles -->
<div
  *ngIf="isSidebarOpen"
  (click)="toggleSidebar()"
  class="fixed inset-0 bg-black bg-opacity-50 z-10 md:hidden"
></div>
